html,
body {
    background: url("../images/old/main-back.png") repeat-x scroll center top transparent;
    font-family: Arial,Helvetica,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    width: 937px;
}

.content {
    min-height: 600px;
}

div {
    padding: 0;
    margin: 0;
}

img {
    border: none;
}

*:focus {
    outline: none;
}

.clear-both {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.reports-titles {
    width: 200px;
    float: left;
}

.reports-titles ol li {
    font-size: 12px;
    font-weight: bold;
    color: #0082FF;
    line-height: 26px;
}

.reports-titles ol li a {
    color: #000000;
}

.reports-titles ol li a.selected {
    font-weight: lighter;
    text-decoration: none;
}

.reports {
    width: 700px;
    float: right;
}

table.default {
    border-spacing: 4px 0;
    width: 100%;
}

table.default tr th {
    background-color: #F0F0F0;
    border-bottom: 2px dotted #FF0000;
}

table.default td {
    border-bottom: 2px dotted #C6C6C6;
    /*height: 19px;*/
}

table.default td, table.default th {
    font-size: 11px;
    padding: 7px;
    text-align: left;
    vertical-align: top;
}

table.default tr.grayed {
    background-color: #F5F5F5;
}

table.default tr td.eventType {
    background-color: #FFFFFF;
}

.reports .report .graphic .params {
    display: none;
}

.alert {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px;
    color: #C09853;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert-danger, .alert-error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}

/*   Login page  */


form.sign-in {
    background-color: #FFFFFF;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 50px auto 20px;
    max-width: 300px;
    padding: 19px 29px 29px;
}

form.sign-in input[type="text"], form.sign-in input[type="password"] {
    -moz-box-sizing: border-box;
    display: block;
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    min-height: 30px;
    padding: 7px 9px;
    width: 100%;
    border-radius: 4px;
    color: #555555;
    line-height: 20px;
    vertical-align: middle;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    font-weight: normal;
}


.registration h1 {
    margin: 50px 0 0 129px;
    font-size: 46px;
    letter-spacing: -2px;
    color: #003AE1;
}

#fos_user_registration_form label {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    margin: 10px 0;
    padding-right: 14px;
    padding-top: 7px;
    text-align: right;
    width: 130px;
}

#fos_user_registration_form input, #fos_user_registration_form select {
    background: none repeat scroll 0 0 #ECECEC;
    border: medium none;
    border-radius: 12px;
    height: 27px;
    margin: 0;
    padding: 4px 8px;
    width: 300px;
}

.registration form div {
    float: left;
    width: 465px;
}

.registration .account-info {
    color: #0082FF;
    font-size: 28px;
    margin-left: 128px;
}

.registration input[type="submit"] {
    margin-left: 250px;
}

.registration .terms {
    clear: both;
    font-size: 14px;
    margin-left: 90px;
    width: 400px;
    float: none;
}

.registration .button {
    float: none;
}




















/*TODO: need overview!!!!!*/

.header {
    height: 100%;
    margin: 0 0 20px;
    padding: 16px 0 0;
    width: 100%;
}

.white-container-left {
    background: url("../images/old/white-container-left.png") no-repeat scroll left top transparent;
    min-height: 63px;
    padding-left: 23px;
}

.white-container-right {
    background: url("../images/old/white-container-right.png") no-repeat scroll right top transparent;
    min-height: 63px;
    padding-right: 23px;
}

#header-content {
    background: url("../images/old/white-container-back.png") repeat-x scroll left top transparent;
    min-height: 63px;
    padding: 9px 0 0 7px;
}

#header-content #logo {
    float: left;
    width: auto;
}

#header-content a {
    color: #0082FF;
    font-weight: bold;
}

.header .menu {
    float: right;
    height: 100%;
    margin: 0;
    padding-right: 20px;
}

.header .menu .menu-item {
    cursor: pointer;
    float: left;
    height: 30px;
    margin: 2px 10px 3px;
    padding: 7px 16px 0 13px;
    text-align: center;
}

#header-content a {
    color: #0082FF;
    font-weight: bold;
}

.header .menu .menu-item a:link, .header .menu .menu-item a:hover, .header .menu .menu-item a:active, .header .menu .menu-item a:visited {
    font-size: 15px;
    letter-spacing: -1px;
}

.divisor {
    background: url("../images/old/dot-separator.png") repeat-y scroll 0 0 transparent;
    float: right;
    width: 1px;
}

.divisor-menu {
    float: left;
    height: 43px;
}

.gray-container {
    background: none repeat scroll 0 0 #EDEDED;
    border-radius: 10px 10px 10px 10px;
}
.bold {
    font-weight: bold;
}
.active {
    color: #213FBD;
}

#footer {
    color: #696969;
    height: 90px;
    padding: 7px 0 20px;
}

#footer-content {
    border-bottom: 1px solid #D3D3D3;
    border-top: 1px solid #D3D3D3;
    height: 45px;
}

.footer-left {
    float: left;
    font-size: 12px;
    margin: 0 0 auto;
    padding-left: 5px;
    padding-top: 15px;
    width: 415px;
}

.footer-left .email {
    float: left;
}

#footer-content .footer-left a {
    float: none;
}

.footer-left a {
    float: none;
}

#footer-content .footer-left .divisor-footer {
    margin-left: 10px;
    margin-right: 10px;
}

.footer-right {
    font-size: 12px;
    margin: 0 0 0 auto;
    padding-top: 15px;
    width: 430px;
}

#footer-content a:link {
    color: #0082FF;
    float: left;
}

.footer-right .divisor.divisor-footer {
    margin-left: 15px;
    margin-right: 15px;
}
.divisor-footer {
    float: left;
    height: 20px;
    margin: 0 20px;
}

#footer2-content {
    height: 36px;
}

#footer2-content .footer-left {
    width: 420px;
}

#footer2-content .footer-right {
    font-size: 12px;
    width: 550px;
}

#qf-content {
    clear: both;
    color: #454545;
    font-size: 15px;
    height: 172px;
    line-height: 18px;
    margin: 0 auto;
    padding: 9px 0;
    text-align: center;
    width: 825px;
}

#qf-1 {
    margin-left: 0;
    width: 201px;
}

#qf-2 {
    margin-left: 45px;
    width: 210px;
}

#qf-3 {
    margin-left: 44px;
    margin-right: 0;
    width: 217px;
}

.question-flow {
    float: left;
    font-size: 14px;
    height: 100%;
    line-height: 19px;
    margin: 0 50px;
}

#qf-1 img.qm {
    margin: 16px -15px 0 3px;
    position: relative;
}

#qf-1 img.ilustration {
    margin: 6px 0 -2px;
}

#qf-1 p {
    padding-left: 34px;
}

#qf-2 img.qm {
    margin: 80px 8px 0 7px;
}

#qf-2 img.ilustration {
    margin: 19px 0 0 -20px;
}

#qf-2 p {
    margin: 15px -10px 0 0;
}

#qf-3 img.qm {
    margin: 46px -10px 0 0;
}

#qf-3 img.ilustration {
    margin: 6px 0 0 11px;
}

#qf-3 p {
    margin: 20px -10px 0 34px;
}

.divisor-qf {
    float: left;
    height: 84%;
    margin-top: 23px;
}

#wrapper #main-header {
    margin: 49px auto;
    width: 750px;
}

#wrapper #main-header h1 {
    line-height: 48px;
}

#main-header h1 {
    font-weight: normal;
}

#wrapper #main-header h1 span.header.blue {
    font-size: 59px;
    margin: 0 30px 0 19px;
}

#wrapper .header.blue {
    font-size: 46px;
    letter-spacing: -2px;
}

#wrapper #main-header h1 span.header.red {
    font-size: 36px;
}

#wrapper .header.red {
    font-size: 26pt;
    font-weight: normal;
    vertical-align: 10%;
}

.blue {
    color: #003AE1;
}

.red, .red a:link, .red a:hover, .red a:active, .red a:visited {
    color: #FF0000;
}

#opportunities {
    height: 297px;
    margin: 0 43px;
}

#opportunities #one {
    margin: -8px 36px 0 41px;
}

#one {
    font-size: 49px;
    letter-spacing: -6px;
}

#opportunities p {
    color: #5C5C5C;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 19px;
    width: 275px;
}

#opportunities p span.l-blue {
    font-weight: bold;
}
.l-blue, .l-blue a:link, .l-blue a:hover, .l-blue a:active, .l-blue a:visited {
    color: #0082FF;
}

#opportunities #two {
    margin: 0 10px 0 22px;
}
#opportunities #two {
    line-height: 118px;
}
#two {
    font-size: 91px;
    letter-spacing: -1px;
}


#opportunities .blue-button {
    margin: 0 151px 0 0;
}
.button {
    cursor: pointer;
}

#opportunities .gray-button {
    clear: left;
    margin: 0 0 0 14px;
}

.gb-l {
    background: url("../images/old/btn-g-l.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.bb-l, .bb-r, .gb-l, .gb-r {
    width: 15px;
}
.bb-l, .bb-r, .gb-l, .gb-r, .bb-l-a, .bb-r-a, .gb-l-a, .gb-r-a {
    float: left;
    height: 33px;
}

.gb-m {
    background: url("../images/old/btn-g-m.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.bb-m, .gb-m, .gb-s-m, .bb-m-a, .gb-m-a, .gb-s-m-a {
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    height: 33px;
    line-height: 33px;
}

.gb-r {
    background: url("../images/old/btn-g-r.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.sample {
    color: #666666;
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin: 10px 0 0 7px;
}

#opportunities .blue-button {
    margin: 0 151px 0 0;
}

.bb-l {
    background: url("../images/old/btn-b-l.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.bb-l, .bb-r, .gb-l, .gb-r {
    width: 15px;
}
.bb-l, .bb-r, .gb-l, .gb-r, .bb-l-a, .bb-r-a, .gb-l-a, .gb-r-a {
    float: left;
    height: 33px;
}

.bb-m {
    background: url("../images/old/btn-b-m.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.bb-m, .gb-m, .gb-s-m, .bb-m-a, .gb-m-a, .gb-s-m-a {
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    height: 33px;
    line-height: 33px;
}

.bb-r {
    background: url("../images/old/btn-b-r.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.header-content {
    font-size: 15px;
    line-height: 18px;
    margin-left: 68px;
    width: 700px;
}
.l-gray {
    color: #8C8C8C;
}

#reports-list {
    height: 154px;
    width: 100%;
}

#reports-list ol:first-child {
    margin-left: 28px;
    width: 185px;
}

#reports-list ol {
    margin-top: 35px;
    width: 245px;
}

#reports-list ol li {
    font-size: 11px;
    font-weight: bold;
    line-height: 26px;
}

#reports-list ol li a {
    font-size: 15px;
}

#reports {
    clear:both;
}

.report {
    margin-top: 47px;
    padding-left: 66px;
    width: 750px;
}

.report .description {
    width: 300px;
}

.report .description .title {
    font-size: 18px;
}

.report .description p {
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: 3px 0 25px 3px;
    width: 686px;
}

table tr.even-row {
    background-color: #F5F5F5;
}

#reports table td[rowspan] {
    background-color: #FFFFFF;
}

#reports .report .chart .legend {
    font: 11px Arial;
    margin-right: 4px;
    text-align: left;
    width: 152px;
}

#reports .report .chart table th {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: medium none;
    border-right: 1px dotted #000000;
    font: 9px Arial;
    height: 24px;
    padding: 4px 4px 0;
    vertical-align: middle;
}
#reports .report .chart table th, #reports .report .chart table td {
    border-bottom: medium none;
    text-align: center;
    width: 11%;
}
#reports table th {
    background-color: #F0F0F0;
    border-bottom: 2px dotted #FF0000;
    height: 20px;
}
#reports table td, #reports table th {
    font-size: 11px;
    padding-left: 6px;
    padding-top: 7px;
    text-align: left;
    vertical-align: top;
}

#reports .report .chart table tbody tr:first-child td {
    border-top: 1px solid #000000;
}
#reports .report .chart table tbody tr td {
    border-top: 1px dotted #000000;
    padding: 8px 4px 0;
    font-weight: normal;
}

#reports .report .chart table.sample {
    border-spacing: 0 4px;
    width: 526px;
    float: none;
}
#reports table.sample {
    border-spacing: 4px 0;
    table-layout: fixed;
    width: 686px;
}

#reports .report .chart .legend-item {
    height: 41px;
    line-height: 31px;
}

.circle {
    font: 22px/9px arial;
    vertical-align: -100%;
}

.d-gray {
    color: #4B4B4B;
}

.no-border {
    border: medium none !important;
}

.chart {
    margin: 30px 0 0 -50px;
}

#reports .button.blue-button {
    padding: 30px 0 60px 66px;
}

.page {
    margin: 0 145px 80px 132px;
}

.page h1 {
    height: 53px;
    margin: 60px 0 40px;
}

.page .text {
    font: 9pt/16px arial;
}

.page .review-date {
    margin-left: 17px;
    padding-top: 11px;
    width: 250px;
}

.page h3 {
    color: #000000;
    font: bold 11pt/19px arial;
    margin: 18px 0 0;
}

.page h3.link {
    margin: 2px 0 0;
}

.page .text ul, .text ol {
    list-style: disc outside none;
    margin: 0;
    padding: 0;
}

.page .text ul {
    list-style-image: url("../images/old/list-bullet.png");
}

.page .sub-header {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 36px;
    margin: 33px 0 0;
}
.sub-header {
    font-size: 31px;
    font-weight: bold;
}

.page .text ol {
    list-style: decimal outside none;
}

.page .company {
    font-size: 15pt;
    width: 470px;
}

.about-us {
    background: url("../images/old/about-us.png") no-repeat scroll 565px 50px rgba(0, 0, 0, 0);
    margin: 0 0 80px 132px;
}

.page .what-we-do {
    line-height: 24px;
    width: 530px;
}

.page .what-we-do .text:first-child {
    font-weight: bold;
}
.page .what-we-do .text {
    font-size: 12pt;
}

.page .questions {
    font-size: 15pt;
    margin-top: 30px;
    width: 550px;
}

.page .download {
    background: url("../images/old/pdf.png") no-repeat scroll 47px 0 rgba(0, 0, 0, 0);
    margin: -132px 10px 0 0;
    padding-top: 53px;
    width: 173px;
}

.contact {
    background: url("../images/old/contact.png") no-repeat scroll 420px 168px rgba(0, 0, 0, 0);
}

.page .call-us {
    font-size: 21px;
    letter-spacing: -1px;
    margin: 45px 0 0 0;
}

.page .emails {
    font-size: 12px;
    margin: 38px 0 0 0;
    width: 390px;
}

.page .emails a {
    border-bottom: 1px dashed #0082FF;
    font-size: 17px;
    line-height: 27px;
    text-decoration: none;
}

.page .address {
    font-size: 15px;
    line-height: 19px;
    margin: 45px 0 0 0;
}

/***************************/