{% for eventType, event in report %}
    <div class="graphic withing-team-graphic">
        <div class="image"></div>
        <div class="params">
            <div class="subtitle">{{ eventType }}</div>
            <div class="meets">{{ event.meet }}</div>
            <div class="my">{{ event.my }}</div>
            <div class="avg">{{ event.avg }}</div>
        </div>
    </div>
{% endfor %}