{% extends 'SpFrontBundle::base.html.twig' %}

{% block content %}
    <div class="page contact">
        <h1><span class="header blue">Contact us</span></h1>
        <div class="sub-header l-blue">Please contact us anytime!<br>We look forward to hearing from you</div>
        <div class="call-us d-gray">Call us directly at: <strong>480-278-1840</strong></div>
        <div class="emails d-gray">
            <p>If you would like more information on how we can be of service, have a question or would like to provide feedback, please send us an e-mail:</p>
            <a href="mailto:info@sport-statport.com" class="l-blue">info@sport-statport.com</a>
            <br>
            <a href="mailto:customerservice@sport-statport.com" class="l-blue">customerservice@sport-statport.com</a>
            <br>
            <a href="mailto:feedback@sport-statport.com" class="l-blue">feedback@sport-statport.com</a>
        </div>
        <div class="address">
            <p>Our mailing address:</p>
            PO Box 73334
            <br>
            2550 E. Rose Garden Lane
            <br>
            Phoenix, AZ 85050
        </div>
    </div>
{% endblock %}