{% extends 'SpFrontBundle::base.html.twig' %}

{% block content %}
    <div class="page">


        <h1>
            <div class="left"><span class="header blue">Legal Notices</span></div>
            <div class="review-date left"><span class="text">Last reviewed August 14, 2012</span></div>
        </h1>

        <h3>Please read these terms carefully before using this site.</h3>
        <br>
        <div class="text">Sport-Statport is a member company and fully owned subsidiary of Statport Group, LLC ("Statport" or "we") provides its content on this Web site (the "Site") subject to the following terms and conditions (the "Terms"). We reserve the right to modify these Terms at any time and without prior notice. By accessing and using this Site, you agree to these Terms. For an explanation of Statport Group's practices and policies related to the collection, use, and storage of our users' information, please read our Privacy Policy.</div>

        <h3>Copyrights</h3>
        <div class="text">All content and functionality on the Site, including text, graphics, logos, icons, and images and the selection and arrangement thereof, is the exclusive property of Statport Group and is protected by U.S. and international copyright laws. All rights not expressly granted are reserved.</div>

        <h3>Trademarks</h3>
        <div class="text">The trademarks, service marks, designs, and logos (collectively, the "Trademarks") displayed on the Site are Trademarks of Statport Group. You agree that you will not refer to or attribute any information to Statport Group in any public medium (e.g., press release, Web sites) for advertising or promotion purposes, or for the purpose of informing or influencing any third party and that you will not use or reproduce any Trademark of, or imply any endorsement by or relationship with Statport Group.</div>

        <h3>Use of Site Content</h3>
        <div class="text">Statport Group hereby grants you a non-exclusive, non-transferable license for the term hereof to access and download, display, and print one copy of the content and functionality displayed on the Site (the "Site Content") on any single computer solely for your internal, business use, provided that you do not modify the Site Content in any way and that you retain all copyright and other proprietary notices displayed on the Site Content. You may not otherwise reproduce, modify, distribute, transmit, post, or disclose the Site Content without Statport Group's prior written consent. Note that only reprint rights are granted; Statport Group retains the copyright and reserves all rights.</div>

        <h3>Notices of Infringement and Takedown by STATPORT Group</h3>
        <div class="text">
            Statport Group prohibits the posting of any information that infringes or violates the copyright rights and/or other intellectual property rights (including rights of privacy and publicity) of any person or entity. If you believe that your intellectual property right (or such a right that you are responsible for enforcing) is infringed by any content on the Site, please write to Statport Group at PO Box 73334, Phoenix, AZ 85050 giving a written statement that contains: (a) identification of the copyrighted work and/or intellectual property right claimed to have been infringed; (b) identification of the allegedly infringing material on the Site that is requested to be removed; (c) your name, address, and daytime telephone number, and an e-mail address if available; (d) a statement that you have a good faith belief that the use of the copyrighted work and/or exercise of the intellectual property right is not authorized by the owner, its agent, or the law; (e) a statement that the information in the notification is accurate, and, under penalty of perjury, that the signatory is authorized to act on behalf of the owner of the right that is allegedly infringed; and (f) the signature of the intellectual property right owner or someone authorized on the owner's behalf to assert infringement of the right. Statport Group will remove any posted submission that infringes the copyright or other intellectual property right of any person under U.S. law upon receipt of such a statement (or any statement in conformance with 17 U.S.C. 512(c)(3)). U.S. law provides significant penalties for submitting such a statement falsely. Under appropriate circumstances, persons who repeatedly submit infringing or unlawful material will be prohibited from posting further submissions. Statport Group's contact for submission of notices under this Section is: Legal Department,  Statport Group, P.O Box 73334 Phoenix, AZ 85050
            <br>
            <br>
            DISCLAIMER
            <br>
            THE CONTENT AND FUNCTIONALITY ON THIS SITE IS PROVIDED WITH THE UNDERSTANDING THAT Statport GROUP IS NOT HEREIN ENGAGED IN RENDERING PROFESSIONAL ADVICE AND SERVICES TO YOU. ALL CONTENT AND FUNCTIONALITY ON THE SITE IS PROVIDED "AS IS," WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. Statport GROUP AND ITS THIRD-PARTY CONTENT PROVIDERS MAKE NO WARRANTIES, EXPRESS OR IMPLIED, AS TO THE OWNERSHIP, ACCURACY, OR ADEQUACY OF THE SITE CONTENT. Statport GROUP SHALL HAVE NO LIABILITY OR RESPONSIBILITY FOR ANY INFORMATION PUBLISHED ON LINKED WEB SITES, CONTAINED IN ANY USER SUBMISSIONS PUBLISHED ON THE SITE, OR PROVIDED BY THIRD PARTIES. NEITHER Statport GROUP NOR ITS THIRD-PARTY CONTENT PROVIDERS SHALL BE LIABLE FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES OR FOR LOST REVENUES OR PROFITS, WHETHER OR NOT ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR LOSSES AND REGARDLESS OF THE THEORY OF LIABILITY.
            <br>
            <br>
            Third-Party Web Sites
            <br>
            We may provide links to third-party Web sites, and some of the content appearing to be on this Site is in fact supplied by third parties, for example, in instances of framing of third-party Web sites or incorporation through framesets of content supplied by third-party servers. Statport Group has no responsibility for these third-party Web sites, which are governed by the Terms of Use and privacy policies, if any, of the applicable third-party content providers.
            <br>
            <br>
            Governing Law: Jurisdiction
            <br>
            These Terms are governed by the laws of the State of Arizona without reference to the principles of conflicts of laws thereof.
        </div>


    </div>
{% endblock %}