{% extends 'SpFrontBundle::base.html.twig' %}

{% block content %}
    <div class="page">
        <h1>
            <div class="left"><span class="header blue">Privacy policy</span></div>
            <div class="review-date left"><span class="text">Last Reviewed August 14, 2012</span></div>
        </h1>
        <h3>Our Commitment To Privacy</h3>
        <div class="text">SPORT-STATPORT is a member company of STATPORT™ Group, LLC. It is committed to protect the privacy of the personally-identifiable information that we collect from you and to assure you have a positive experience on our website.To better protect your privacy STATPORT provides this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, we make it available on our home page and at every point where personally identifiable information may be requested. By submitting your information, you agree to STATPORT’s use of such information as described herein. This policy covers the STATPORT’s websites and is applicable worldwide. Some of our member companies or programs may have their own, possibly different, policies. We encourage you to read this privacy policy and those of all websites you visit.</div>
        <h3>Privacy Notice Table Of Contents:</h3>
        <h3 class="l-blue link"><a href="#the_information_we_collect">The Information We Collect</a></h3>
        <h3 class="l-blue link"><a href="#how_we_use_information">How We Use Information</a></h3>
        <h3 class="l-blue link"><a href="#our_commetment_to_data_security">Our Commitment To Data Security</a></h3>
        <h3 class="l-blue link"><a href="#data_retention">Data Retention</a></h3>
        <h3 class="l-blue link"><a href="#our_commitment_to_childrens_privacy">Our Commitment To Children's Privacy</a></h3>
        <h3 class="l-blue link"><a href="#accessing_and_updating_your_personal_information">Accessing and updating your personal information</a></h3>
        <h3 class="l-blue link"><a href="#sharing_your_personal_information">Sharing your personal information</a></h3>
        <h3 class="l-blue link"><a href="#cookies_web_beacons_and_do_we_use_them">Cookies, Web Beacons and do we use them</a></h3>
        <h3 class="l-blue link"><a href="#how_can_you_help_protect_your_information">How can you help protect your information</a></h3>
        <h3 class="l-blue link"><a href="#how_to_contact_us">How To Contact Us</a></h3>
        <h3 id="the_information_we_collect">The Information We Collect</h3>
        <div class="text">When Statport collects any personal information on our website, we will express our need for the personal data at the point of collection. Personal information is any information that can be used to identify an individual, and may include, but is not limited to, name, email address, postal or other physical address, title, occupation, and other information required to provide a service, deliver a product, or carry out a transaction you have requested. Some of the reasons we collect your personal information include: participation in discussion groups; collaboration efforts; registration to membership programs or newsletter subscriptions; provide registered users a meaningful and personalized experience on the Statport website.</div>
        <div class="text">This notice applies to all information collected or submitted on the Statport's websites. We will not subsequently change the way your personal information is used without your consent. Some of the ways we may use your personal information include:
            <ul>
                <li>To provide the ability to create personal profile areas and view protected content.</li>
                <li>To provide the ability to contact you, and provide you with shipping and billing information.</li>
                <li>To provide customer feedback and support.</li>
                <li>To provide contests, sweepstakes and other marketing promotional activities on the web site.</li>
            </ul>
            <br>
            Personal information may be collected to administer these programs:
            <ul>
                <li>To conduct questionnaires and surveys in order to provide better products and services to our customers.</li>
                <li>The completion of any questionnaires is voluntary.</li>
                <li>To support recruitment inquiries.</li>
                <li>To allow you the opportunity to request specific information on products and services that may be of interest and thusto personalize newsletters and website to your preferences.</li>
                <li>To meet contract obligations.</li>
                <li>To allow you to forward information to another individual.</li>
            </ul>
            <br>
            Statport does not store the personal information of the third party. We collect the information for the sole purpose of sending a one-time email. If you choose to use our referral service to inform a colleague or friend, we will only ask for a contact name and email address. This notice applies to all information collected or submitted on the Statport website.
        </div>
        <h3 id="our_commetment_to_data_security">Our Commitment To Data Security</h3>
        <div class="text">To prevent unauthorized access, maintain data accuracy, and reasonably assure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online. While we strive to protect your personal information, we cannot ensure the security of the information you transmit. We recommend you to take every precaution in protecting your personal information when you are on the Internet. Internally, we will restrict access to your personally identifiable information to employees who need access to the information in order to do their jobs. These employees are limited in number, and are committed to our privacy policies. We will review our security arrangements from time to time as we deem appropriate.</div>
        <h3 id="data_retention">Data Retention</h3>
        <div class="text">Statport will not retain your personal information longer than is necessary to fulfill the purposes for which it was collected or as required by applicable laws or regulations.</div>
        <h3 id="our_commitment_to_childrens_privacy">Our Commitment To Children's Privacy</h3>
        <div class="text">Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our website from those we actually know are under 13, and no part of our website is structured to attract anyone under 13. Sport-Statport website is intended for the use by parents and guardians. Statport encourages parents and guardians to go online with their children. Here are a few steps to help make a child's online experience safer:
            <ul>
                <li>Teach children never to give personal information (such as name, address, phone number, school, etc.) unless supervised by a parent or responsible adult.</li>
                <li>Know the sites your children are visiting and which sites are appropriate.</li>
                <li>Look for website privacy policies. Know how your child's information is treated.</li>
            </ul>
            Please visit the FTC's website(1) for more tips on protecting children's privacy online.
        </div>
        <h3 id="accessing_and_updating_your_personal_information">Accessing and updating your personal information</h3>
        <div class="text">We would like your assistance in keeping the personal information you have shared with us accurate and up to date. Please notify us of any changes to your personal information. Most of our sites allow you to make these updates yourself online. You can access all your personally identifiable information that we collect online. We use this procedure to better safeguard your information. You can correct factual errors in your personally identifiable information by sending us a request that credibly shows error. To protect your privacy and security, we will also take reasonable steps to verify your identity before granting access or making corrections.</div>
        <h3 id="sharing_your_personal_information">Sharing your personal information</h3>
        <div class="text">We do not sell or rent your personal information to third-parties for marketing purposes unless you have granted us permission to do so. We may share your personal information within Statport or any of our worldwide subsidiaries for purposes of data processing or storage. We may also share your personal information with authorized third-party agents or contractors in order to provide a requested service or transaction. For example, if we need to ship something to you, we must share your name and address with a shipping company. We only provide third-party agents with the minimum amount of personal information necessary to complete the requested service or transaction. We may respond to subpoenas, court orders, or legal process by disclosing your personal information and other related information, if necessary. We also may choose to establish or exercise our legal rights or defend against legal claims. We may collect and possibly share personal information and any other additional information available to us in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Statport's terms of use, or as otherwise required by law. While navigating Statport's web site you may be directed to content or functionality that is hosted by a third party supplier, not on Statportgroup.com. This is typically done to host special events, such as contests. When information is collected on behalf of Statport exclusively, Statport's privacy policy will be referenced on the site and will govern how your information is used. For other, non-Statport sites, the site owner's privacy policy will be referenced. It is Statport's practice to require such suppliers to handle information in a manner consistent with Statport's privacy and security policies. We will ask you for your opt-in consent to share your personal information with a third party for any other reason.</div>
        <h3 id="cookies_web_beacons_and_do_we_use_them">Cookies, Web Beacons and do we use them</h3>
        <div class="text">Statport website utilizes cookies, although you can still access most of them even if you choose to disable cookies in your browser. Cookies were designed to help a web site administrator to determine that a particular user had visited the site previously and thus save and remember any preferences that may have been set while the user was browsing the site. Cookies are small strings of text that web sites can send to your browser. Cookies cannot retrieve any other data from your hard drive or obtain your e-mail address. If you are simply browsing Statport informational site, a cookie may be used to identify your browser as one that has visited the site before. You can set your browser to notify you before you receive a cookie, giving you the chance to decide whether to accept it. We may use third parties to monitor web traffic, statistics, advertisement 'click-through', and other activities on Statport's website. Where authorized by Statport, such third parties may use cookies, Statport's web log files, web beacons, and other monitoring technologies to compile anonymous aggregate statistics on Statport's website visitors. We also include web beacons in HTML-formatted e-mail newsletters in order to count how many newsletters (or particular articles, links, etc.) are being accessed. The use of web beacons helps Statport to better tailor the site to provide better customer service. When a visitor accesses these pages, a non- identifiable notice of that visit is generated which may be processed by us or by our suppliers. The Web beacons usually work in conjunction with cookies. If you do not wish your cookie information to be associated with your visit to these pages, you can set your browser to turn off cookies. Current versions of web browsers offer enhanced user controls regarding the placement and duration of both first and third party cookies. Please, search for Cookies under your web browser's Help menu for more information on cookie management features available to you.</div>
        <h3 id="how_can_you_help_protect_your_information">How can you help protect your information</h3>
        <div class="text">If you are using a Statport web site for which you registered and chose a password, we recommend that you do not share your password with anyone. We will never ask you for your password in an unsolicited phone call or in an unsolicited e-mail. Also remember to sign out of the registered site and close your browser window when you have finished your work. This is to assure that others cannot access your personal information and correspondence if they have access to your computer.</div>
        <h3 id="how_to_contact_us">How To Contact Us</h3>
        <div class="text">Should you have other questions or concerns about these privacy policies, please send us an email at <a href="mailto:legal@statportgroup.com">legal@statportgroup.com</a>.</div>
    </div>
{% endblock %}