{% extends 'SpFrontBundle::base.html.twig' %}

{% block content %}
    <div class="page">


        <h1>
            <div class="left"><span class="header blue">Terms of service</span></div>
            <div class="review-date left"><span class="text">Last Reviewed August 14, 2012</span></div>
        </h1>

        <div class="statport text">
            <span>Statport Group, LLC Terms and conditions</span>
            <br>
            By completing the electronic acceptance process and clicking the acceptance button, you agree that you:
            <ul>
                <li>Are 18 years of age or older</li>
                <li>Have the authority to, or are authorized to sign for and bind, the contracting party defined as a "customer" to the terms and conditions of this online User Agreement</li>
                <li>Have read, understand and agree on behalf of customer to be bound by this agreement. If you do not have such authority, or if you do not agree with this agreement, you must not click the acceptance button; your registration process will be discontinued and you may not use the services.</li>
            </ul>
        </div>

        <div class="sub-header l-blue">User agreement</div>
        <div class="text">Sport-Statport.com is a fully owned subsidiary of Statport Group, LLC (“Statport”) By using the Sport-Statport.com web site (“Site”) you accept and agree to the following terms and conditions of this user agreement ("User Agreement"). Statport reserves the right to update and change the User Agreement at any time. Any new features shall be subject to the most current User Agreement. Continued use of the Site after any such changes imply your consent to such changes. Violation of any of the terms listed below will result in the immediate termination of the Site account.</div>
        <br>
        <h3 class="l-blue link"><a href="#section1">Section 1: ACCOUNT TERMS</a></h3>
        <h3 class="l-blue link"><a href="#section2">Section 2: PAYMENTS AND REFUNDS</a></h3>
        <h3 class="l-blue link"><a href="#section3">Section 3: CANCELLATION AND TERMINATION</a></h3>
        <h3 class="l-blue link"><a href="#section4">Section 4: MODIFICATIONS TO THE SITE AND PRICES</a></h3>
        <h3 class="l-blue link"><a href="#section5">Section 5: GENERAL CONDITIONS</a></h3>
        <h3 class="l-blue link"><a href="#section6">Section 6: USER POSTINGS</a></h3>
        <h3 class="l-blue link"><a href="#section7">Section 7: INTELLECTUAL PROPERTY AND LICENSES</a></h3>
        <h3 class="l-blue link"><a href="#section8">Section 8: MISCELLANEOUS</a></h3>

        <h3 id="section1">Section 1: ACCOUNT TERMS</h3>
        <div class="text">
            <ol>
                <li>Accounts registered by automated methods are not permitted and will be deleted immediately without notice.</li>
                <li>You must provide a valid email address, and any other pertinent information requested in order to complete the sign up process.</li>
                <li>Your login may only be used by one (1) person - a single login shared by multiple people shall not be permitted.</li>
                <li>You are responsible for maintaining the security of your account and password. STATPORT cannot and will not be liable for any loss of information or security breaches that result from your failure to comply with the security requirements.</li>
                <li>You are hereby considered fully responsible for all content posted and any and all activity that occurs under your account, even when certain content is posted by others who have accounts under your account.</li>
                <li>You may not use the Site for any illegal activities.</li>
                <li>You must not, throughout your use of the Site, violate any applicable laws in your jurisdiction, and this is including but not limited to copyright laws.</li>
            </ol>
        </div>

        <h3 id="section2">Section 2: PAYMENT AND REFUNDS.</h3>
        <div class="text">
            <ol>
                <li>A valid credit card or PayPal account is required for all accounts that require payments.</li>
                <li>When you initially sign up for a membership, and you don't cancel that account within 30 days, you will be billed monthly starting 30 days after your account was created.</li>
                <li>The Site bills in advance on a monthly basis and is non-refundable. There will be no refunds or credits for partial months of service refunds. There will be no refunds or credits if the swimmer did not participate in a swim meet in a given month.</li>
                <li>All fees exclude any taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties.</li>
                <li>Your account subscription fees will be charged in USD (United States Dollars).</li>
            </ol>
        </div>

        <h3 id="section3">Section 3: CANCELLATION AND TERMINATION</h3>
        <div class="text">
            <ol>
                <li>It is your responsibility to ensure that your account has been properly cancelled. An arbitrary email requesting an account to be cancelled is not considered definitive. You can cancel your account at any time by selecting the Cancel Account button in the My Account section.</li>
                <li>Your cancellation will be effective immediately once initiated. You will not be charged again from that point forth.</li>
                <li>Statport has the right to suspend or terminate your account and refuse any and all current or future use of the Site for any reason at any time. Statport, in their sole discretion, reserves the right to refuse service to anyone for any reason at any time.</li>
                <li>When you cancel your account before you are charged on the same day of the month following the date you signed up you will not be charged again. When you cancel after you are charged, no refund can be issued.</li>
                <li>Once you cancel you will not be charged again, but you are responsible for whatever charges have already been incurred. No exceptions will be made.</li>
                <li>How to cancel your account? Cancel your account at any time by clicking on My Account -&gt; Click the link "Cancel Account”" in the bottom of the screen. Once you cancel all your data will be deleted from the service within 14 days. This is not reversible.</li>
            </ol>
        </div>

        <h3 id="section4">Section 4: MODIFICATIONS TO THE SITE AND PRICES</h3>
        <div class="text">
            <ol>
                <li>Statport reserves the right at any time, with or without notice, to modify or discontinue the Site, temporarily or permanently.</li>
                <li>Statport reserves the right to change the prices of any and all services upon 30 days notice.</li>
            </ol>
        </div>


        <h3 id="section5">Section 5: GENERAL CONDITIONS</h3>
        <div class="text">
            <ol>
                <li>Your use of the Site is at your own risk.</li>
                <li>Statport does not accept responsibility for any user who uses the Site for any purpose other than for which it is intended.</li>
                <li>Any recommendation from the application is based entirely on the way the Site is used by the user or users of the website and responsibility of any outcome lies solely with that user or users.</li>
                <li>Statport does not accept any responsibility for any decisions made based on the outcome or recommendation provided by the Site.</li>
                <li>Statport assumes no liability for forms, checklists, reports or recommendations provided to you. All reports and recommendations are provided without any warranty, express or implied, as to their legal effect and completeness. Please use at your own risk.</li>
                <li>Technical support is only provided via email.</li>
                <li>You acknowledge and understand that Statport uses third party vendors to provide the necessary hardware, software, networking, storage, and related technology required to run the Site.</li>
                <li>You must not modify another website so as to falsely imply that it is associated with the Site or Statport.</li>
                <li>You agree that you are solely responsible for (and that Statport has no responsibility to you or any third party for) any breach of your obligations under the Terms of Service and for the consequences (including any loss or damage which Statport may suffer) of any such breach.</li>
                <li>Unless with explicit permission from Statport, you agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Site, use of the Site, or access to the Site.</li>
                <li>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any Statport employee, member, or officer will result in immediate account termination and potential criminal charges.</li>
                <li>Statport does not guarantee in any capacity that the service will meet your specific needs.</li>
                <li>Statport does not guarantee that the service will be uninterrupted, secure or error-free, that the results that may be obtained from the use of the site will be definitively accurate or reliable at all times.</li>
                <li>Statport cannot guarantee that any errors in the site will be corrected at any time.</li>
                <li>You hereby understand and agree that Statport is not liable for any direct, indirect, incidental, special, consequential or exemplary damages, including (but not restricted to) damages for loss of profits, data or other intangibles, by means of the use or the inability to use the service, unauthorized access to your data, or any other matter relating directly to the Service.</li>
                <li>Language. The English language version of this Agreement shall be the controlling version and is incorporated by reference into any translation of this Agreement. Any translation or other language version of this Agreement shall be provided for informational purposes only. Only the most current English version of this Agreement is binding. In the event of inconsistency or discrepancy between the English version and any translation or other language version of this Agreement, the English-language version shall prevail.</li>
            </ol>
        </div>

        <h3 id="section6">Section 6: USER POSTINGS</h3>
        <div class="text">
            <ol>
                <li>You acknowledge and agree that Statport shall own and have the unrestricted right to use, publish, and otherwise exploit any and all information that you post or otherwise publish on the Site in postings, survey responses, and otherwise, and you hereby waive any claims against Statport for any alleged or actual infringements of any rights of privacy or publicity, moral rights, or rights of attribution in connection with Statport's use and publication of such submissions. You covenant that you shall not post or otherwise publish on the Site any materials that (a) are threatening, libelous, defamatory, or obscene; (b) would constitute, or that encourage conduct that would constitute, a criminal offense, give rise to civil liability, or otherwise violate law; (c) infringe the intellectual property, privacy, or other rights of any third parties; (d) contain a computer virus or other destructive element; (e) contain advertising; or (f) constitute or contain false or misleading statements. Statport does not and cannot review all information posted to the Site by users and is not responsible for such information. However, Statport Group reserves the right to refuse to post and the right to remove any information, in whole or in part, for any reason or for no reason.</li>
            </ol>
        </div>

        <h3 id="section7">Section 7: INTELLECTUAL PROPERTY AND LICENSES:</h3>
        <div class="text">
            <ol>
                <li>Trademarks. The Site and the Company's trade names, domain names and logos found on the Site are trademarks or service marks of Statport.</li>
                <li>No display or use of such marks may be made without the express written permission of Statport.</li>
                <li>All trademarks, trade names, logos, and service marks featured on this website are the property of the owners of said intellectual property. Statport disclaims any associations or endorsements that may be implied through the use of the trademarks, trade names, logos or service marks.</li>
                <li>Statport gives you a personal, royalty-free, non-assignable and non-exclusive license to use software the provided to you by Statport as part of the services. This license is for sole purpose of enabling you to use and enjoy the benefits of the Services as provided by Statport, in the manner permitted by these Terms of Service.</li>
                <li>You may not (and you may not permit anyone else to) copy, modify, create a derivative work of, reverse engineer, decompile or otherwise attempt to extract the source code of the Software or any part thereof, unless this is expressly permitted or required by law, or unless you have been specifically told that you may do so by Statport, in writing.</li>
                <li>Unless Statport has given you specific written permission to do so, you may not assign (or grant a sub-license of) your rights to use the Software, grant a security interest in or over your rights to use the Software, or otherwise transfer any part of your rights to use the Software.</li>
                <li>You retain copyright and any other rights you already hold in Content which you submit, post or display on or through, the Site. By submitting, posting or displaying the content you give Statport a perpetual, irrevocable, worldwide, royalty-free, and non-exclusive license to reproduce, adapt, modify, translate, publish, publicly perform, publicly display and distribute any Content which you submit, post or display on or through, the Site. This license is for the sole purpose of enabling Statport to display, distribute and promote the Site.</li>
                <li>You agree that this license includes a right for Statport to make such Content available to other companies, organizations or individuals with whom Statport has relationships for the provision of syndicated services, and to use such Content in connection with the provision of those services.</li>
                <li>You understand that Statport, in performing the required technical steps to provide the Services to our users, may (a) transmit or distribute your Content over various public networks and in various media; and (b) make such changes to your Content as are necessary to conform and adapt that Content to the technical requirements of connecting networks, devices, services or media. You agree that this license shall permit Statport to take these actions.</li>
                <li>You confirm and warrant to Statport that you have all the rights, power and authority necessary to grant the above license.</li>
                <li>I UNDERSTAND AND I AGREE TO BE BOUND BY THESE TERMS AND CONDITIONS. </li>
            </ol>
        </div>

        <h3 id="section8">Section 8: MISCELLANEOUS</h3>
        <div class="text">
            <ol>
                <li>You agree that any dispute between the parties must be resolved under Arizona law and in a court located in Maricopa County, Arizona. You expressly agree to the exclusive jurisdiction of those courts to resolve any dispute, and you expressly agree not to contest that jurisdiction or venue. You also agree to accept service of process from such courts by certified or registered mail. </li>
                <li>All claims /dispute requests must be submitted via email to legal@Statportgroup.com , Subject: Dispute Resolution. A "Statport CLAIM FORM" will be subsequently emailed to you. Please complete the claim form and email it to legal@Statportgroup.com. </li>
                <li>The failure of Statport to aggressively enforce any right or provision of the User Agreement shall not be construed as a waiver of such right or provision. The User Agreement outlines the entire agreement between you and Statport and supersedes any prior agreements between you and Statport including prior iterations of the User Agreement.</li>
                <li>Prospective customers are notified by this statement that your consent to this Agreement by clicking the electronic link indicating your agreement to be bound to these terms, meets the requirements of </li>
                <li>Section 101(c) (1) (C) (ii), the Consumer Consent Provision, of the Electronic Signatures in Global and National Commerce Act (ESIGN). You may print these Terms and Conditions, but they are subject to change by us. Changes to the Terms and Conditions will be effective from the time they are placed on our web site, in the Terms and Conditions section of the site, or any other section where they may appear. You will not receive any other notice of a change in the Terms and Conditions of this User Agreement outside of the posting of updates to the User Agreement displayed on our website. You are encouraged to read the User Agreement before submitting any bids or otherwise transacting on this site.</li>
                <li>FINAL EXPRESSION: This Agreement is intended by the parties as a final expression of their contract and as a complete and exclusive statement of the Terms and Conditions of sale. No course of prior dealings between the parties and no usage of the trade may supplement or explain any term used in this Agreement. Acceptance or acquiescence in a course of performance rendered under this Agreement may not be used to determine the meaning of this Agreement even though the accepting or acquiescing party has knowledge of the nature of the performance and opportunity for objection. </li>
            </ol>
        </div>
        <h3>Questions about the User Agreement should be sent via our <a class="l-blue" href="{{ path('contact_page') }}">contact page.</a></h3>


    </div>
{% endblock %}